section {
  background: rgba(0, 0, 0, 0.05);
  padding: 15px 5px;
}

.small {
  width: 100%;
}

.flex {
  display: flex;
}

.screen {
  flex: 1 1 65%;
  margin: 0 2.5%;
  width: 100%;
}

.grid {
  flex: 1 1 30%;
  min-width: 0;
}
